<h1><%= @rodada.descricao %></h1>

<h2>Consultar posição na fila</h2>

<form id="form-consultar">
  <p>
    Matrícula:
    <input type="number" name="matricula" id="matricula" autofocus="autofocus" size="12">
    <input type="submit" name="" value="Consultar">
  </p>    
</form>

<h2>Acompanhar telão</h2>

<p><%= link_to 'Acompanhar telão', tela_path %></p>


<script type="text/javascript">
  $("#form-consultar").on("submit", function() {
    var matricula = $("#matricula").val();
    window.location.href = "<%= root_path %>posicao/" + matricula;
    return false;
  });
</script>
