<div class="header">
  Ajuste de Matrícula BCC
</div>

<div class="content">
    <div class="left">

      <h1>Próximo número:</h1>

      <h1 id="numero"><%= @rodada.posicao_atual if @rodada %></h1>
      <h1 id="nome"><%= @rodada.aluno_atual.nome if @rodada and @rodada.aluno_atual %></h1>

    </div>
    <div class="right">
      <div class="row"><h1 style="padding-left: 3px;">Próximos da fila</h1></div>
      <div class="row">A</div>
      <div class="row">B</div>
      <div class="row">C</div>
      <div class="row">D</div>
      <div class="row">E</div>
    </div>
</div>

<div class="footer">
  <% if user_signed_in? %>

    Para entrar na fila, digite sua <b>matrícula</b> e pressione Enter:
    <input type="text" name="matricula" id="matricula" autofocus style="font-size: xx-large; font-weight: bold;">
    <!-- <button id="btnMatricula">Inscrever</button> -->

  <% else %>

    &nbsp;

  <% end %>
</div>


<script type="text/javascript">
  function insereMatricula() {
    var matricula = $("#matricula").val();
    $.post("<%= tela_inscrever_path %>", { matricula: matricula })
      .done(function () { alert("Adicionado com sucesso"); })
      .fail(function () { alert("Erro"); })
      .always(function () { $("#matricula").val(''); });
  }
  $("#btnMatricula").click(insereMatricula);
  $("#matricula").keypress(function (e) {
    if (e.which == 13 || e.keyCode == 13) {
        insereMatricula();
        return false;
    }
    return true;
  });
</script>


<script type="text/javascript">
document.addEventListener("turbolinks:load", function () {
  
  App.room = App.cable.subscriptions.create("TelaoNotificationsChannel", {
    received: function(data) {
      document.getElementById('numero').innerText = data.posicao_atual;
      document.getElementById('nome').innerText = data.nome_aluno_atual;
      return console.log(data);
    }
  });

});
</script>