<audio src="" id="tts" hidden></audio>

<script type="text/javascript">
  // https://notificationsounds.com/notification-sounds/definite-555
  var audioNotificacao = new Audio('/definite.mp3')
</script>

<div class="header" id="descricao">
</div>

<div class="content">
    <div class="w100 Aligner">
      <div class="Aligner-item">
        <div id="mesas"></div>
        <% if @rodada.inscricao_guest %>
        <div id="filas" style="color: darkgray;">
          <% if @filas.size > 0 %>
          <p>Número de pessoas na fila:
          <% @filas.each do |fila| %>
            [<%= fila.codigo %>: <%= fila.vagas.count - fila.posicao %>]
          <% end %>
          (atualize a página para obter números atualizados)
          </p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    
    <!--
    <div id="proximos" class="right">
      <div class="row"><h1 style="padding-left: 3px;">Próximos da fila</h1></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    -->
  </div>
</div>

<div class="footer Aligner">
  <div class="Aligner-item">
    <% if @rodada.inscricao_guest or (user_signed_in? and can? :manage, :inscricao) %>
      <table>
        <tr>
          <td style="font-size: large;">Para entrar na fila, digite sua <b>matrícula</b> e pressione Enter:</td>
          <td><input type="number" name="matricula" id="matricula" autofocus style="font-size: xx-large; font-weight: bold;"></td>
        </tr>
      </table>
    <% else %>
      &nbsp;
    <% end %>
  </div>
</div>

<div id="dialog-confirma" title="Nome adicionado">
  <p>Olá, <b><span class="nome"></span></b>, agora você está na posição <b><span class="posicao"></span></b> da fila.</p>
  <p>Pressione <b>Enter</b> para fechar.</p>
</div>

<div id="dialog-erro" title="Você NÃO foi adicionado">
  <p style="color: darkred; font-weight: bold;"><span class="mensagem"></span></p>

  <p>Pressione <b>Enter</b> para fechar.</p>
</div>


<script>
  $( function() {
    var options = {
      draggable: false,
      modal: true,
      autoOpen: false,
      position: {my: "right bottom", at: "right bottom", of: window},
      width: '60%'
    };
    $("#dialog-confirma").dialog(options);
    $("#dialog-confirma").on('dialogclose', function (event) {
      // window.location.reload(true); 
    });
    $("#dialog-erro").dialog(options);
  } );
</script>

<script type="text/javascript">
  function insereMatricula() {
    var matricula = $("#matricula").val();
    $.post("<%= tela_inscrever_path %>", { matricula: matricula })
      .done(function (data) {
        $("#dialog-confirma .nome").text(data.aluno.nome);
        $("#dialog-confirma .posicao").text(data.posicao);
        $("#dialog-confirma").dialog("open");
       })
      .fail(function (xhr) {
        var data = xhr.responseJSON;
        $("#dialog-erro .mensagem").text('Erro de sistema.');
        if (data) {
          $("#dialog-erro .mensagem").text(data.mensagem);
        }
        $("#dialog-erro .matricula").text(matricula);
        $("#dialog-erro").dialog("open");
      })
      .always(function () { $("#matricula").val(''); });
  }
  $("#btnMatricula").click(insereMatricula);
  $("#matricula").keypress(function (e) {
    if (e.which == 13 || e.keyCode == 13) {
        insereMatricula();
        return false;
    }
    return true;
  });
</script>


<script type="text/javascript">

function blink() {
  var i, interval = 400, times = 6;

  $("#nome").stop(true, true);

  $("#nome").addClass("highlight");
  for (i = 0; i < times; i++) {
    $("#nome").fadeOut(interval);
    $("#nome").fadeIn(interval);
  }
  setTimeout(function () { $("#nome").removeClass("highlight"); }, times * interval * 2);
}

function falaNome(nome) {
  // https://www.youtube.com/watch?v=DOtkNxmg9QY
  // Não está funcionando, precisa gerar um token.
  var text = encodeURIComponent(nome);
  var url = "http://translate.google.com/translate_tts?tl=pt-BR&q=" + text + "&client=tw-ob";
  console.log("URL", url);
  $("#tts").attr("src", url).get(0).play();
}

function atualizaPaginaRealmente(data) {
  $("#descricao").text(data.rodada.descricao);

  s = ""
  for (var i = 0; i < data.mesas.length; i++) {
    console.log(data.mesas[i].vaga);
    if (data.mesas[i].vaga) {
      s += "<p>";
      s += '<span class="mesa">' + data.mesas[i].nome + "</span><br>"
      s += '<span class="codigovaga">' +  "[" + data.mesas[i].vaga.fila.codigo + "_";
      s += data.mesas[i].vaga.posicao + "]</span> ";
      s += data.mesas[i].vaga.aluno.nome + " ";
      s += "</p>";
    }
  }
  $("#mesas").html(s);

  // $("#proximos .row").each(function (idx, elem) {
  //   if (idx > 0) { // skip first row
  //     if (data.proximos.length > 0) {
  //       $(elem).text(data.proximos.shift().aluno.nome);
  //     } else {
  //       $(elem).text('');
  //     }
  //   }
  // });
}

function atualizaPagina(data) {
  audioNotificacao.play();
  $("#mesas").slideUp(400, function () {
    atualizaPaginaRealmente(data);
    $("#mesas").slideDown(200);
  });
}

function carregaDados(dados) {
  if (dados) {
    console.log("obtendo dados da notificacao");
    atualizaPagina(dados);
  } else {
    console.log("obtendo dados via consulta");
    $.get("<%= tela_dados_path %>")
      .done(atualizaPagina)
      .fail(function () {
        alert("Erro ao tentar obter dados.");
      });
  }
}

document.addEventListener("turbolinks:load", function () {

  carregaDados();
  
  App.room = App.cable.subscriptions.create("TelaoNotificationsChannel", {
    received: function(data) {
      console.log("Notificação recebida.");
      carregaDados(data);
    }
  });

});
</script>